/* Styles for webgl visualisations */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.hidden {
    display: none;
}
.centred {
    text-align: center;
}
#controls {
    position: absolute;
    top: 5%;
    left: 5%;
}
