/* Styles for webgl visualisations */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.hidden {
    display: none;
}
.centred {
    text-align: center;
}
#controls {
    position: absolute;
    top: 25%;
    left: 85%;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}
#controls div {
    margin-bottom: 10%;
}
#controls img {
    width: 50%;
}
#score {
    position: absolute;
    top: 2%;
    left: 0%;
    width: 100%;
    text-align: center;
}

#score img {
    width: 50%;
}
